Options +FollowSymLinks +ExecCGI
Options -Multiviews

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  RedirectMatch /touch$        /touch/build/production/Delta/index.html
  RedirectMatch /touchtest$    /touch/build/testing/Delta/index.html
  RedirectMatch /touchprod$    /touch/build/production/Delta/index.html
  RedirectMatch /touch/build/Delta/production/index.html$     /touch/build/production/Delta/index.html
  RedirectMatch /touch/build/Delta/testing/index.html$        /touch/build/testing/Delta/index.html

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
