<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 8 hours"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /js

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^-]+)-[0-9]{6}.js$  $1.js [L]

</IfModule>